<div class="container-fluid container-lg pt-3">
  <form>
    <!-- HEADER -->
    <div class="card shadow border-0 rounded mb-3 p-2 p-xxl-3">
      <div class="row">

        <div class="col-xl-4 d-flex">
          <img class="img-fluid me-2" src="./assets/images/dashboard/shippingOrders.png" alt="" style="height: 32px">
          <p class="fs-5 fw-medium mb-0 text-uppercase">Nueva Orden</p>
        </div>

        <div class="col-xl-8 text-end">

          <!-- BTN SUBMIT -->
          <button type="submit" class="btn btn-success me-2">
            <i class="bi bi-floppy2-fill"></i>
            Guardar
          </button>

          <!-- BTN CANCEL -->
          <button type="reset" class="btn btn-danger" (click)="getTemplate('LIST')">
            <i class="bi bi-x-circle-fill"></i>
            Cancelar
          </button>

        </div>
      </div>
    </div>


    <!-- NEW FORM -->
    <div class="row">

      <!----------------------------------------------->
      <!------------- DATA SHIPPING ORDER ------------->
      <div class="col-xl-6">
        <div class="card shadow border-0 rounded p-3">
          <p class="lead fw-medium m-0">Datos de la orden de envío</p>
          <hr class="m-0 mb-3">

          <!-- SHIPPING ORDER -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="shippingOrderInput"
              placeholder="Orden de envío"
            >
            <label for="shippingOrderInput">Orden de envío</label>
          </div>

          <!-- DEADLINE -->
          <div class="form-floating mb-3">
            <input
              type="date"
              class="form-control"
              id="deadlineInput"
              placeholder="Fecha límite de entrega"
            >
            <label for="deadlineInput">Fecha límite de entrega</label>
          </div>

          <!-- ADDRESS -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="addressInput"
              placeholder="Dirección de entrega"
            >
            <label for="addressInput">Dirección de entrega</label>
          </div>

          <!-- REFERENCE -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="referenceInput"
              placeholder="Referencia (Ejemplo: Altura cdra 10 Av. El Sol)"
            >
            <label for="referenceInput">Referencia (Ejemplo: Altura cdra 10 Av. El Sol)</label>
          </div>

          <!-- PROVINCE AND DISTRICT -->
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="provinceSelect">
                  <option selected>Seleccione la provincia</option>
                  <option value="AREQUIPA">Arequipa</option>
                  <option value="LIMA">Lima</option>
                  <option value="TRUJILLO">Trujillo</option>
                </select>
                <label for="provinceSelect">Provincia</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <select class="form-select" id="districtSelect">
                  <option selected>Seleccione el distrito</option>
                  <option value="BARRANCO">Barranco</option>
                  <option value="CHORRILLOS">Chorrillos</option>
                  <option value="MIRAFLORES">Miraflores</option>
                </select>
                <label for="districtSelect">Distrito</label>
              </div>
            </div>
          </div>


        </div>
      </div>

      <!---------------------------------------------->
      <!---------------- DATA BUYER ------------------>
      <div class="col-xl-6">
        <div class="card shadow border-0 rounded p-3">
          <p class="lead fw-medium m-0">Datos del comprador</p>
          <hr class="m-0 mb-3">

          <!-- FULL NAME -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="fullNameInput"
              placeholder="Nombres y Apellidos"
            >
            <label for="fullNameInput">Nombres y Apellidos</label>
          </div>

          <!-- DNI AND PHONE -->
          <div class="row mb-3">
            <div class="col">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="dniInput"
                  placeholder="DNI"
                >
                <label for="dniInput">DNI</label>
              </div>
            </div>
            <div class="col">
              <div class="form-floating">
                <input
                  type="text"
                  class="form-control"
                  id="phoneInput"
                  placeholder="Teléfono de contacto"
                >
                <label for="phoneInput">Teléfono de contacto</label>
              </div>
            </div>
          </div>

          <!-- EMAIL -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              id="emailInput"
              placeholder="Correo electrónico"
            >
            <label for="emailInput">Correo electrónico</label>
          </div>




        </div>
      </div>
    </div>
  </form>
</div>
